@model Assesment.Models.ErrorModel

@{
    ViewBag.Title = "Error";
}



  
    
    
      
        <hr />
      
        <div class="form-group" style="background-color:gold;text-align:center">
            @*@Html.LabelFor(model => model.ErrorMessage, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <span >@Model.ErrorMessage</span>
        </div>

      
    



