@model IEnumerable<Assesment.Models.Project>
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>
    <table border="1">
        <tr><td>Project Name</td></tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            
            @Html.ActionLink(item.name, "Editv02", new { id = item.id })
        </td>
     
    </tr>
        }

    </table>

</div>